.menu {
  display: flex;
  align-items: center;
  height: 73px;
  background-color: #00113d;
  padding: 0 80px;
}

.menu__nav {
  display: flex;
  height: 100%;
}

.menu__nav-item {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 8px;
}

.menu__nav-item:hover > .menu__nav-link {
  opacity: 0.65;
}

.menu__nav-link {
  height: 73px;
  line-height: 73px;
  font-size: 14px;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.1s linear;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.menu__nav-link .img-active {
  display: none;
}

.menu__nav-item--selected > .menu__nav-link {
  color: #3fd8af;
}

.menu__nav-item--selected,
.menu__nav-item--disabled {
  pointer-events: none;
}

.menu__nav-item--disabled {
  opacity: 0.3;
}

.menu__nav-item--selected:hover > .menu__nav-link {
  opacity: 1;
}

.menu__nav-item--selected .img-active {
  display: flex;
}

.menu__nav-item--selected .img-normal {
  display: none;
}

.close-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  right: 24px;
  top: 24px;
  cursor: pointer;
}

@media only screen and (max-width: 750px) {
  .menu__nav {
    width: 100%;
    justify-content: space-between;
  }
  .menu__nav-item span {
    display: none;
  }
}
