.error-text,
.success-text {
  font-weight: bold;
}

.error-text {
  color: #da291c;
}

.success-text {
  color: #01855a;
}

button {
  margin: 0 auto;
  background-color: #00113d;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 8px;
  margin-bottom: 1rem;
}
