body {
  display: block;
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 16px 80px 0 80px;
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.5) !important;
  z-index: 31;
}

.ReactModal__Content {
  inset: 80px 20% auto 20% !important;
}
